<a href="https://colab.research.google.com/github/harshsinha-12/GoogleCollabTutorial/blob/main/PandasTutorialHarsh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Creating a Series (1-Dimentional Data Structure)

A Series can be created using any of the following



1.   Scalar Value
2.   Lists
3.
Dictionary

In [6]:
series1 = pd.Series(10)
print('series1')
print(type(series1))

series1
<class 'pandas.core.series.Series'>

In [5]:
series2 = pd.Series(10, index = [0, 1, 2, 3, 4])
print(series2)

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [7]:
series3 = pd.Series(10, index= ['one', 'two', 'three', 'four'])
print(series3)

one      10
two      10
three    10
four     10
dtype: int64

In [9]:
#                 Index Name     Name
Harsh = pd.Series(10, ['Messi', 'Sachin'])
print(Harsh)

Messi     10
Sachin    10
dtype: int64

In [10]:
lst = [10,20,30,40,50]
#            Index  Values
Series4 = pd.Series(lst)
print(Series4)
print((Series4).describe())

0    10
1    20
2    30
3    40
4    50
dtype: int64
count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [11]:
# Series from a Dictionary
#       'Index' : 'Value'
dic = {'Name':'Harsh','Subject':'Data-Science','Topic':'Pandas'}
series5 = pd.Series(dic)
print(series5)

Name              Harsh
Subject    Data-Science
Topic            Pandas
dtype: object

Creating a DataFrame (2-Dimentional Data Structure)

A data frame can be created using any of the following





1.   Series
2.   Dictionary
3. Lists

In [13]:
#  Dataframe From list
#       Values
lst2 = [5,18,25,30,32]
df1 = pd.DataFrame(lst2)
print(df1)
print((df1).describe())

    0
0   5
1  18
2  25
3  30
4  32
               0
count   5.000000
mean   22.000000
std    10.931606
min     5.000000
25%    18.000000
50%    25.000000
75%    30.000000
max    32.000000